<span class="status-widget {{ status == 1 ? 'active' : '' }} {{ status == 0 ? 'inactive' : '' }}">
    <a class="activate" href="{{ activate_url }}"></a>
    <a class="deactivate" href="{{ deactivate_url }}"></a>
    <span class="handle"></span>
    <span class="bg"></span>
</span>