
@import "../vendor/gridle/sass/gridle/_gridle";
@import "_helpers";

$color_text: #2E2E27;
$color_border: #ccc;

$map: (
context: 12,
gutter-width: 20px,
direction: rtl
);

$mobile_state: (
max-width : 480px,
gutter-width : 10px
);

$landscape_state: (
query : "(orientation : landscape)"
);

@include gridle_setup($map);


// make the use of media queries really easy
//@include gridle_register_state ( mobile , $mobile_state );

// even with full custom queries :
//@include gridle_register_state ( landscape, $landscape_state );

@include gridle_generate_classes ( );

.container {
    max-width : 1360px;
    padding:0 1em;
    margin : 0 auto;
}

html {font:12px/1.35 Arial, Helvetica, sans-serif;color:$color_text;}

a:link, a:visited {color:inherit;}
a:hover, a:focus, a:active {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {margin:1em 0 0.5em;}
h1 {font-size:2.5em;letter-spacing:-1px;}
h2 {font-size:1.75em;letter-spacing:-1px;}
h3 {font-size:1.45em;}
h4 {font-size:1.3em;}
h5 {font-size:1.2em;}
h6 {font-size:1em;}

hr {margin:1em 0;border:1px solid $color_border;border-top:0;}

table {
    width:100%;margin:1em 0;
    border-top: 1px solid $color_border;
    border-bottom: 1px solid $color_border;
    th, td {padding:0.5em 0.6em;}
    th {
        color:#4B4B43;
        text-align:left;
        border: 1px solid #CCC;
        box-shadow: 1px 0px 0px 0px #FFF inset,  0px -1px 0px 0px #e3e3e3 inset;
        background: #D9D9D9;
        background: linear-gradient(to bottom , #F1F1F1 0%, #D9D9D9 100%);
        &:first-child {
            box-shadow: 0px -1px 0px 0px #e3e3e3 inset;
        }
    }
    tr:nth-child(2n+1) td {background:#f2f2f2;}
    tr.odd td {}
}

::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
}

.button, .button:link, button, input[type=submit], input[type=button] {
    display:inline-block;
    font-weight:bold;
    font-size:1.1em;line-height:normal;
    color:#555;
    padding:5px 15px;
    border:1px solid #b3b3b3;
    border-radius:2px;
    box-sizing: border-box;
    background: #D9D9D9;
    background: linear-gradient(to bottom, #F2F2F2 0%, #D9D9D9 100%);
    // 
    &:hover, &:focus, &:active, &.hover {
        background: #ECECEC;
    }
    &.ok {
        color:#fff;
        border-color: #16950B;
        background: #0EA700;
        background: linear-gradient(to bottom, #0EA700 0%, #16950B 100%) ;
        &:hover, &:focus, &:active {
            background: #16950B;
        }
    }
    &.error {
        color:#fff;
        border-color: #e92727;
        background: #f74545;
        background: linear-gradient(to bottom, #f74545 0%, #e92727 100%) ;
        &:hover, &:focus, &:active {
            background: #e92727;
        }
    }
}

.button:link {
    text-decoration:none;
}

input[type=text], input[type=search], input[type=password], textarea, select, .selectize-input, input.filestyle {
    border: 1px solid $color_border;
    margin: 0px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px #E5E5E5 inset;
    font-size:1.1em;line-height:normal;
    padding:5px 6px;
    box-sizing: border-box;
    &:focus {border-color:#999;outline:none;}
}

input[readonly]:focus {border-color:$color_border;}
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {padding:5px 6px;}
.selectize-input {display:block;color:inherit;}
.selectize-input>input {font-size:1em;}
.selectize-dropdown, .selectize-input, .selectize-input input {color:inherit;font-size:inherit;line-height:inherit;}

.filestyle-container {
    display:inline-block;
    > * {vertical-align:top;}
    input[type=file] {min-height:28px;}
    .filestyle-button {display:inline-block;margin-left:2px;}
}

.selectize-control {
    display:inline-block;min-width:20em;max-width:100%;
    &.single {
        .selectize-input {
            padding-right:2em;
            background:#E8E8E8;
            background: linear-gradient(to bottom, #FEFEFE 0%, #E8E8E8 100%);
            &:hover {
                background:#efefef;
            }
            &.input-active {background:#fff;}
            &:before {
                position:absolute;top:0;bottom:0;right:2em;
                display:block;
                content:'';
                border-left:1px solid $color_border;
            }
            &:after {right:0.55em;margin-top:-2px;}
        }
    }

    .selectize-dropdown {
        .active {color:$color_text;background:#eaeaea;}
        .selected {color:$color_text;font-style:italic;background:#eaeaea;}
    }
    &.multi .selectize-input {
        &.has-items {
            line-height:0.65em;
            padding:2px 0 0 2px;
            > input {
                min-width:1em;
                vertical-align: top;
                padding: 5px 0 !important;
            }
        }

        //&.focus {border-color:#999;}
        > div {
            overflow:hidden;
            max-width:20em;
            padding:3px 6px ;
            margin: 0 2px 2px 0;
            border:1px solid #b4b4b4;
            border-radius:3px;
            color:inherit;
            background-color: #E4E4E4;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height:1.2;
            background: #E8E8E8;
            background: linear-gradient(to bottom , #F1F1F1 0%, #D9D9D9 100%);
            &.active {
                border:1px solid #999;
                background: #eaeaea;
            }
        }
    }
}

input[type=checkbox] {position:relative;top:1px;}
.checkboxstyle-container {
    position:relative;display:inline-block;overflow:hidden;
    vertical-align:bottom;
    cursor:pointer;
    input {position:absolute;top:-12px;left:-12px;opacity:0;}
    input:focus + .checkboxstyle {border-color:#999;}
    .checkboxstyle {
        position:relative;top:2px;
        display:inline-block;
        width:1em;height:1em;
        border:1px solid $color_border;
        border-radius:2px;
    }
    &.checkboxstyle-checked {
        .checkboxstyle:before {
            position:absolute;
            top:4px;left:2px;
            display:block;
            content:'\e842';
            font-family: "pixms";
            font-style: normal;
            font-weight: normal;
            line-height:5px;
            speak: none;
            font-size:14px;
            color:$color_text;
            vertical-align:top;
        }
    }
}

input[type=radio] {position:relative;top:1px;}
.radiostyle-container {
    position:relative;display:inline-block;overflow:hidden;
    vertical-align:bottom;
    cursor:pointer;
    input {position:absolute;top:-11px;left:-11px;opacity:0;}
    input:focus + .radiostyle {border-color:#999;}
    .radiostyle {
        position:relative;top:2px;
        display:inline-block;
        width:11px;height:11px;
        border:1px solid #d8d8d8;
        border-color:#bbb #cfcfcf #d8d8d8;
        border-radius:50%;
        background:#e6e6e6;
        box-shadow: 0px 1px 2px 0px #aaa inset;
    }
    &.radiostyle-checked {
        .radiostyle:before {
            position:absolute;
            top:2px;left:2px;
            bottom:2px;right:2px;
            display:block;
            content:'';
            border-radius:50%;
            background:$color_text;
        }
    }
}

///// GRID /////
td.actions {
    width:2em;
    white-space:nowrap;
    padding-left:1em;padding-right:1em;
    text-align:center;
    line-height:1.1;
    [class^="icon-"], [class*=" icon-"] {
        font-size:1.25em;
        margin-left:-1px;
        margin-right:-1px;
        color:#7b7b7b;
    }
    a[class^="icon-"], a[class*=" icon-"] {
        text-decoration:none;
        &:hover, &:focus, &:active {
            color:#999;
        }
    }
    .icon-cancel, .icon-cancel-circle {color:#f74545;}
    a.icon-cancel, a.icon-cancel-circle {
        &:hover, &:focus, &:active {
            color:#e92727;
        }
    }
}

td.status {
    text-align:center;width:3.5em;
}

.icon-column {
    text-align:center;
    width:2em;
    line-height:1.1;
    [class^="icon-"], [class*=" icon-"] {
        font-size:1.25em;
        color:#7b7b7b;
    }
    a[class^="icon-"], a[class*=" icon-"] {
        &:hover, &:focus, &:active {
            color:#999;
        }
    }
}

.status-widget {
    position:relative;top:2px;
    display:inline-block;
    .activate {
        position:absolute;top:0;bottom:0;left:50%;right:0;z-index:1;
        display:block;
        cursor:pointer;
        &:hover, &:focus, &:active {
            ~ .bg {background:#10ca44;}
            ~ .handle {left:100%;margin-left:-1em;}
        }
    }
    .deactivate {
        position:absolute;top:0;bottom:0;left:0;right:50%;z-index:1;
        display:block;
        cursor:pointer;
        &:hover, &:focus, &:active {
            ~ .bg {background:#ea6645;}
            ~ .handle {left:0;margin-left:0;}
        }
    }
    .handle {
        position:absolute;top:0;left:50%;
        width:1em;height:1em;margin-left:-0.5em;
        border:1px solid #999999;
        border-radius:2px;
        box-sizing: border-box;
        background:#f2f2f2;
        transition:left 0.35s ease, margin-left 0.35s ease;
    }
    .bg {
        display:block;
        height:1em;
        border:1px solid #999999;
        box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
        width:2.3em;
        background:#7b7b7b;
        border-radius:2px;
        box-sizing: border-box;
        transition:background-color 0.35s ease;
    }
    &.active {
        .bg {background:#10ca44;}
        .handle {left:100%;margin-left:-1em;}
        .activate {display:none;}
    }
    &.inactive {
        .bg {background:#ea6645;}
        .handle {left:0;margin-left:0;}
        .deactivate {display:none;}
    }
}

.dataTable {
    tr:hover td {background:#eaeaea;}
    .label {
        position:relative;
        padding-right:1.2em;
        &:after, &:before {
            position:absolute;
            top:50%;right:0;
            display:block;
            content:'\e842';
            font-family: "pixms";
            font-style: normal;
            font-weight: normal;
            line-height:5px;
            speak: none;
            font-size:12px;
            vertical-align:top;
            text-shadow: 0px 1px 0px #fff;
        }
        &:before {margin-top:-6px;content:'\E80A';}
        &:after {margin-top:1px;content:'\E80D';}
    }
    .sorting {
    }
    .sorting_desc {
        .label:before {opacity:0.25}
    }
    .sorting_asc {
        .label:after {opacity:0.25}
    }
}

div.DTCR_pointer {background:$color_text;}

.ColVis_collectionBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 1100;
}

.ColVis_catcher {
    position: absolute;
    z-index: 1101;
}

.ColVis_collection {
    list-style: outside none none;
    width: 150px;
    padding:0;
    margin: 0px;
    overflow: hidden;
    z-index: 2002;
    background-color: #F2F2F2;
    border: 1px solid $color_border;
    z-index: 1102;
    border-radius: 3px;
    margin-top: 1px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    li {
        display:block;
        border-width: 1px 0px;
        border-style: solid none;
        border-color:#fff transparent #d9d9d9;
        &:first-child {border-top:0;}
        &:last-child {border-bottom:0;}
        .label {display:inline;}
        label, &.ColVis_Special {

            display:block;padding:0.5em;
            cursor:pointer;
            &:hover, &:focus, &:active {background:#fff;}
        }
        label > span {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
        &.ColVis_Special {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
        input, .checkboxstyle-container {float:left;margin-right:0.5em;}
        .checkboxstyle-container {top:-1px;}
    }
}

.dataTables_empty {text-align:center;}

.dataTables_header {
    @include clearfix;
    .ColVis {float:left;}
    .dataTables_filter {
        position:relative;
        float:right;
        &:after {
            position:absolute;
            top:50%;right:0.35em;
            display:block;
            margin-top:-0.125em;
            content:'\E801';
            font-family: "pixms";
            font-style: normal;
            font-weight: normal;
            line-height:5px;
            speak: none;
            color:#363630;
            font-size:1.5em;
            vertical-align:top;
        }
        input {padding-right:2em;}
    }
}

.dataTables_footer {
    margin-bottom:1.5em;
    @include clearfix;
    .dataTables_length {
        float:left;margin-top:-0.75em;
        select, .selectize-control {min-width:0;width:5em;margin:0 0.5em;}
        .selectize-control {position:relative;top:0.8em;}
    }
    .dataTables_paginate {
        float:left;margin:0.5em 1.5em 0;
        .paginate_button {
            display:inline-block;
            width:18px;height:18px;margin:0 2px;
            border:1px solid transparent;
            text-align:center;line-height:18px;
            cursor:pointer;
            &:hover, &:focus, &:active {border-color:#CDCDCD;background: #F2F2F2;}
            &.disabled {opacity:0.3;cursor:default;border-color:transparent;background:transparent;}
        }
        .current {border-color:#CDCDCD;background: #F2F2F2;}
        .previous, .next {
            position:relative;
            text-indent:-9999px;
            &:after {
                position:absolute;
                top:0.45em;left:0.3em;
                display:block;
                text-indent:0;
                margin-top:-0.125em;
                content:'\E80C';
                font-family: "pixms";
                font-style: normal;
                font-weight: normal;
                line-height:5px;
                speak: none;
                color:#363630;
                font-size:1.55em;
                vertical-align:top;
            }
        }
        .next:after {
            left:0.35em;
            content:'\E80B';
        }
    }
    .dataTables_info {float:right;margin-top:0.6em;color:#7F7F7F;}
}


.row-text, .row-password, .row-file, .row-radio, .row-date, .row-textarea, .row-select {
    margin:0 1em 1.25em;
    fieldset.subform & {
        margin:0 0 1.25em;
    }
    > label, .label {
        display:inline-block;
        //display:table-cell;width:12em;
        font-weight:bold;margin-bottom:0.5em;
    }
}
.row-text, .row-date, .row-password {
    input {display:block;width:100%;}
}
.row-submit {
    margin:0 1em 1.25em;
    text-align:right;
}
.row-note {margin:0 1em 1.25em;}

.row-date, .small-input {
    input {display:block;width:30%;min-width:120px;}
}
.row-textarea {
    textarea {width:100%;max-width:100%;resize: vertical; }
}
.row-file {
    .filestyle-container {display:block;width:100%;}
}
.row-select {
    select, .selectize-control {display:block;width:100%;}
}
.row-error {
    label, .label, .error {color:#f74545;}
    input {border-color:#f74545;background:#FFE9E9;}
    .error {display:block;margin-top:0.5em;}
}
.row-radio {
    .choices {overflow:hidden;padding-right:2em;}
    .radiostyle-container, input[type=radio] {margin-right:0.3em;}
    ul {list-style:none;padding:0.5em 0 0.1em;margin:0;}
    li {display:inline-block;margin-right:1em;margin-bottom:0.3em;}
}

#main form {
    margin:0 -1em;
}

form > fieldset {
    border:0;padding:0;margin:0;
    box-sizing: border-box;
}
fieldset.two-columns {
    float:left;width:50%;
    legend {float:left;}
    legend + * {clear:both;}
    &:nth-child(2n-1) {clear:both;}
}
fieldset.full {
    clear:both;}
fieldset.line-before {
    &:before {
        display:block;
        height:0;
        border-top:1px solid #E6E6E6;
        margin:1em 0 2em 0;
        content:'';
    }
}
fieldset.buttons {
    float:none;clear:both;padding-top:1em;
    margin:0 1em;
    text-align:right;
    &:before {
        display:block;
        height:0;
        border-top:1px solid #E6E6E6;
        margin:0 -1em;
        margin-bottom:1.5em;
        content:'';
    }
    > div {display:inline-block;font-size:1.1em;margin-left:0.3em;}
}
fieldset.subform {
    padding:1.5em;
    border:1px solid #ccc;
    background:#f0f0f0;
}
fieldset.datatable {
    .row-title {
        float:left;margin-left:1em;
        > * {margin:0;}
    }
    .row-link {float:right;margin-right:1em;}
    .row-view {clear:both;padding-top:1em;margin:0 1em;}
}

.notification {
    padding:0.5em 1em;
    border-radius:2px;
    border:1px solid #ccc;
    background:#f0f0f0;
    &.error {
        color:#f74545;
        border-color:#f74545;
        background:#FFE9E9;
    }
    &.success {
        color:#44B609;
        border-color:#44B609;
        background:#D4FEB3;
    }
}

.crop-image {
    .row-select {position:relative;z-index:605;}
}