body {background:#E6E6E6;}

#header {
    .top-bar {
        position:relative;z-index:1;
        color:#fff;font-size:1.1em;font-weight:bold;
        background:#43433D;
        .top-menu {display:inline-block;}
        .top-menu a {
            text-decoration:none;
            &:hover, &:focus, &:active {
                color:#D0D0D0;
            }
        }
        [class^="icon-"], [class*=" icon-"] {
            font-size:1.32em;
        }
        ul {margin:0;padding:0;list-style:none;}
        .top-menu li {
            display:inline-block;padding:0.1em 0 0.1em 0.75em;margin:0.6em 0 0.6em 0.5em;
            border-left:1px solid #A0A0A0;
            &:first-child {border-left:none;margin-left:0;padding-left:0;}
            [class^="icon-"], [class*=" icon-"] {position:relative;top:1px;line-height:1;margin-right:0.15em;}
        }
        .user-menu {
            position:relative;
            float:right;
            .name {
                display:inline-block;padding:0.73em 0.5em;
                vertical-align:middle;
                &:after {
                    position:relative;top:0.15em;
                    display:inline-block;margin-left:0.65em;
                    font-size:1.5em;margin-top:-0.5em;
                    content:'\E83D';
                    font-family:'pixms';
                }
            }
            .img {
                display:inline-block;margin-right:0.5em;
                vertical-align:middle;
                width:30px;height:30px;background:#ccc;
            }
            &:hover, &:focus, &:active {
                background:#2e2e27;
                cursor:pointer;
                .sub-menu {display:block;}
            }
            .sub-menu {
                display:none;
                position:absolute;right:0;top:100%;
                width: 13.8462em;
                border: 1px solid #DFDFDF;
                color: #2E2E27;
                font-weight:normal;
                border-radius: 3px;
                background: #FFF none repeat scroll 0% 0%;
                box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
                [class^="icon-"], [class*=" icon-"] {
                    color:#7B7B7B;line-height:1;
                }
                &:after {
                    position:absolute;bottom:100%;right:1.25em;
                    display:block;
                    content:'';
                    border:solid transparent;
                    border-width: 7px 4px;
                    border-bottom-color:#fff;
                    border-top:none;
                }
                .welcome {
                    padding:0.8em;line-height:1.2;
                }
                a {
                    display:block;
                    border-top: 1px solid #DFDFDF;
                    line-height:1.2;text-decoration:none;
                    padding: 0.45em 0.55em;
                    &:hover, &:focus, &:active {background:#efefef;}
                }
                ul {
                    border-style: solid;
                    border-color: #BFBFBF;
                    border-width: 1px 0px;
                    li:first-child a{border-top:none;}
                }
                .logout {
                    text-align:right;
                    border-top:0;
                }
            }
        }
    }
    .main-bar {
        background-color:#2e2e27;
        color:#fff;
        h1 {margin-top:0;font-size:3em;padding-top:1em;padding-left:0.3em;}
        .main-menu {
            position:relative;
            float:left;width:100%;
            border: 1px solid #CCC;
            border-radius: 3px 3px 0px 0px;
            background: linear-gradient(to bottom, #EFEFEF 0%, #DADADA 100%);
            ul {margin:0;padding:0;list-style:none;}
            li {float:left;}
            > ul > li {
                > a {
                    float:left;
                    padding:0.55em 1.5em;
                    font-weight: bold;
                    font-size: 1.2em;
                    text-decoration: none;
                    color: #808080;
                    border-right: 1px solid #CECECE;
                    box-shadow: 1px 0px 0px 0px #FFF;
                    &:hover, &:focus, &:active {background:#EFEFEF;}
                }
                &.active  > a{position:relative;top:1px;padding-top:0.6em;margin-top:-1px;color:#2e2e27;background:#FFFFFF;cursor:default;}
                &.active {
                    > nav {
                        position:absolute;
                        top:100%;left:0;
                        display:block;
                        a {
                            position:relative;
                            display:inline-block;
                            padding:1em 1em;
                            color:#2e2e27;text-decoration:none;
                        }
                        a:hover, a:focus, a:active, li.active a {
                            &:before {
                                position:absolute;bottom:0;left:50%;
                                display:block;margin-left:-6px;
                                content:'';
                                border:6px solid transparent;
                                border-bottom-color:#bfbfbf;
                            }
                            &:after {
                                position:absolute;bottom:0;left:50%;
                                display:block;margin-left:-5px;
                                content:'';
                                border:5px solid transparent;
                                border-bottom-color:#fff;
                            }
                        }
                        li.active a  {cursor:default;}
                    }
                }
            }
            nav {display:none;}
        }
    }
    .sub-bar {
        height:3.2em;
        background:#fff;
        border-bottom:1px solid #bfbfbf;
    }
}

#main {
    background:#fff;
    padding-bottom:5.8em;
    padding-top:1px;
    .title-block {position:relative;}
    .links {position:absolute;top:0.45em;right:0;}
    .links a {margin-left:0.3em;}
    .notification {margin:1em 0;}
}

#breadcrumb {
    padding-top:1.5em;
    margin-top:0;
    font-size: 1.15em;
    .active {display:none;}
    .sep {
        display:inline-block;
        width:0;height:0;margin:0 0.3em 0 0.7em;
        border:4px solid transparent;
        border-right:none;
        border-left-color:#ccc;
    }
    + h1 {margin-top:0.35em;}
}

#footer {
    padding:1.2em 0 2.4em;
    text-align:right;
}