
#main {
    .container {margin-top:1em;max-width:440px;}
    &:before {
        display:block;
        height:50px;margin-bottom:50px;
        content:'';
        background:linear-gradient(to bottom, #E6E6E6 0%, #FFF 100%);
    }
    .logo {display:block;width:160px;margin:0 auto 1em;}
    
    fieldset {
        position:relative;
        padding:2em 1em;
        border:1px solid #ccc;
        border-radius:2px;
        box-shadow: 2px 2px 0 0 #ececec;
        background:linear-gradient(to bottom, #fff 10%, #E6E6E6 80%);
        > :last-child {margin-bottom:0;}
        &:before {
            position:absolute;bottom:100%;left:50%;
            display:block;margin-left:-9px;
            content:'';
            border:9px solid transparent;
            border-bottom-color:#ccc;
        }
        &:after {
            position:absolute;bottom:100%;left:50%;
            display:block;margin-left:-8px;
            content:'';
            border:8px solid transparent;
            border-bottom-color:#fff;
        }
        legend {float:left;width:100%;text-align:center;}
        .row-link, .row-submit {display:inline-block;}
        .row-title {margin:0 1em;}
        .row-title h2 {margin-top:0;text-align:center;}
        .row-link {margin:0 1em;text-align:right;}
    }
    
}