{% extends layout ? "layouts/"~layout : "layouts/default.twig" %}

{% block content %} 
                <div class="container">   
{% include "includes/datatable.twig" with {datatable: datatable} %}
                </div>
{% endblock %}