{% extends layout ? "layouts/"~layout : "layouts/default.twig" %}

{% block content %}    
                <div class="container">   
    {% include "includes/form.twig" with {form: form} %}
                </div>
{% endblock %}