{% extends layout ? "layouts/"~layout : "layouts/default.twig" %}

{% block content %}    
<article class="container">

    <div class="wysiwyg">
        <h1>This is a level 1 heading.This is a level 1 heading.This is a level 1 heading.This is a level 1 heading.</h1>
        <h2>This is a level 2 heading. This is a level 2 heading.This is a level 2 heading.This is a level 2 heading.This is a level 2 heading.</h2>
        <h3>This is a level 3 heading.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper aliquam tellus eget bibendum. Ut nulla massa, faucibus sit amet fermentum id, fringilla ac velit. Phasellus sed vestibulum purus. Vestibulum ut eros dolor. Suspendisse aliquam, lorem at commodo auctor, justo tortor vulputate dui, nec laoreet massa elit a elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper aliquam tellus eget bibendum. Ut nulla massa, faucibus sit amet fermentum id, fringilla ac velit. Phasellus sed vestibulum purus. Vestibulum ut eros dolor. Suspendisse aliquam, lorem at commodo auctor, justo tortor vulputate dui, nec laoreet massa elit </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper aliquam tellus eget bibendum. Ut nulla massa, faucibus sit amet fermentum id, fringilla ac velit. Phasellus sed vestibulum purus. Vestibulum ut eros dolor. Suspendisse aliquam, lorem at commodo auctor, justo tortor vulputate dui, nec laoreet massa elit a elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper aliquam tellus eget bibendum. Ut nulla massa, faucibus sit amet fermentum id, fringilla ac velit. Phasellus sed vestibulum purus. Vestibulum ut eros dolor. Suspendisse aliquam, lorem at commodo auctor, justo tortor vulputate dui, nec laoreet massa elit </p>
        <h2>This is a level 2 heading.</h2>
        <p>This is a paragraph after a level 2 heading.</p>
        <h3>This is a level 3 heading.</h3>
        <p>This is a paragraph after a level 3 heading.</p>
        <h4>This is a level 4 heading.</h4>
        <p>This is a paragraph after a level 4 heading.</p>
        <h5>This is a level 5 heading.</h5>
        <p>This is a paragraph after a level 5 heading.</p>
        <ol>
            <li>This is an ordered list.</li>
            <li><em>This is an ordered list in italic.</em></li>
            <li><strong>This is an ordered list in bold.</strong></li>
            <li><i>This is an ordered list in italic.</i></li>
            <li><b>This is an ordered list in bold.</b></li>
        </ol>
        <p>This is a paragraph after a level 5 heading.</p>
        <h6>This is a level 6 heading.</h6>
        <p>This is a paragraph after a level 6 heading.</p>
        <ul>
            <li>This is an unordered list.</li>
            <li>This is an unordered list<br/>on two lines.</li>
            <li><em>This is an unordered list in italic.</em></li>
            <li><strong>This is an unordered list in bold.</strong></li>
            <li><i>This is an unordered list in italic.</i></li>
            <li><b>This is an unordered list in bold.</b></li>
            <li>This is an unordered list with a child list.
                <ul>
                    <li>This is an unordered list.</li>
                    <li>This is an unordered list<br/>on two lines.</li>
                    <li><em>This is an unordered list in italic.</em></li>
                    <li><strong>This is an unordered list in bold.</strong></li>
                    <li><i>This is an unordered list in italic.</i></li>
                    <li><b>This is an unordered list in bold.</b></li>
                </ul>
            </li>
        </ul>
        <a href="#">This is a link.</a>
        <table>
            <thead>
            <tr>
                <th>
                    <div class="label">
                        Table header
                    </div>
                </th>
                <th>
                    <div class="label">
                        Table header
                    </div>
                </th>
                <th>
                    <div class="label">
                        Ordre
                    </div>
                </th>
                <th>
                    <div class="label">
                        Actions
                    </div>
                    
                </th>
            </tr>
            </thead>
            <tbody>
                {% for i in 0..50 %}
            <tr>
                <td>Table data</td>
                <td>
                
        <span class="status-widget">
            <a class="activate"></a>
            <a class="deactivate"></a>
            <span class="handle"></span>
            <span class="bg"></span>
        </span>
                </td>
                <td class="icon-column"><span class="icon-resize-vertical"></span></td>
                <td class="actions">
                    <span class="icon-calendar"></span>
                    <span class="icon-home"></span>
                    <span class="icon-cancel"></span>
                    <span class="icon-docs"></span>
                    <span class="icon-doc-text"></span>
                </td>
            </tr>
            <tr>
                <td>Table data</td>
                <td>Table data</td>
                <td class="icon-column"><span class="icon-resize-vertical"></span></td>
                <td class="actions">
                    <span class="icon-sliders"></span>
                    <span class="icon-resize-vertical"></span>
                    <span class="icon-crop"></span>
                    <span class="icon-youtube-play"></span>
                    <span class="icon-search"></span>
                </td>
            </tr>
            <tr>
                <td>Table data</td>
                <td>Table data</td>
                <td class="icon-column"><span class="icon-resize-vertical"></span></td>
                <td class="actions">
                    <span class="icon-picture"></span>
                    <span class="icon-home"></span>
                    <span class="icon-lock"></span>
                    <span class="icon-export"></span><br/>
                    <span class="icon-pencil"></span>
                    <span class="icon-map"></span>
                    <span class="icon-trash"></span>
                    <span class="icon-cancel-circle"></span>
                
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr/>
        <span class="status-widget">
            <a class="activate"></a>
            <a class="deactivate"></a>
            <span class="handle"></span>
            <span class="bg"></span>
        </span>
        <span class="status-widget active">
            <a class="activate"></a>
            <a class="deactivate"></a>
            <span class="handle"></span>
            <span class="bg"></span>
        </span>
        <span class="status-widget inactive">
            <a class="activate"></a>
            <a class="deactivate"></a>
            <span class="handle"></span>
            <span class="bg"></span>
        </span>
        <span class="button">submit</span><br/><br/>
        <a class="button">submit</a><br/><br/>
        <a href="#" class="button">submit</a>
        <a href="#" class="button ok">submit</a>
        <a href="#" class="button error">submit</a>
        <br/><br/>
        <form>

        <input type="submit" value="submit"/><br/><br/>
        <input type="password" value="xoxoxo"/><br/><br/>
        <input type="text" value="text field"/><br/><br/>
        <label><input type="checkbox" /> Mon text aligné</label>
        
        <br/><br/>
        <input type="radio" name="test" value="0" /><br/><br/>
        <input type="radio" name="test" value="1" /><br/><br/>
        <input type="file"  /><br/><br/>
        <textarea class="editor" rows="10" cols="80"></textarea><br/><br/>
        <select class="plain">
            <option value="">This should be default browser style</option>
            <option value="1">Text of the option b</option>
            <option value="2">Text of the option c</option>
            <option value="3">Text of the option d</option>
        </select>
        <br/>
        <select name="test2">
            <option value="">Text of the option a</option>
            <option value="2">Text of the option b</option>
            <option value="3">Text of the option c</option>
            <option value="4">Text of the option d</option>
        </select>
        <br/>
        <select name="test">
            <option value="6">Text of the option a</option>
            <option value="7">Text of the option b</option>
            <option value="8">Text of the option c</option>
            <option value="9">Text of the option c</option>
            <option value="10">Text of the option c</option>
            <option value="11">Text of the option c</option>
            <option value="12">Text of the option c</option>
            <option value="13">Text of the option c</option>
            <option value="17">Text of the option c</option>
            <option value="8">Text of the option c</option>
            <option value="8">Text of the option c</option>
            <option value="8">Text of the option c</option>
            <option value="8">Text of the option c</option>
            <option value="9">Text of the option d</option>
        </select>
        <br/>
        <select multiple="multiple" placeholder="My Placeholder"  name="test5">
            <option value="">Text of the option a</option>
            <option value="2">Text of the option b</option>
            <option value="3">Text of the option c</option>
            <option value="4">Text of the option d</option>
        </select>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        </form>
    </div>
</article>
{% endblock %}