
{% block datatable %}    
{% import "_helpers.twig" as helpers %}
<script type="text/javascript">
    var datatable_config = {{datatable.config|raw}};
    </script>
    <table {{ helpers.attributes(datatable.attributes|default([])) }}>
        <thead>
            <tr>
                {% for column in datatable.columns %}
                    <th class="{{ column.property }} {{ column.classes|default([])|join(' ') }}">{{ column.label|trans }}</th>
                {% endfor %}
                    {% if datatable.actions|length > 0 %}
                    <th class="actions">{{ "Actions"|trans }}</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in datatable.data %}
                <tr>
                    {% for column in datatable.columns %}
                        <td class="{{ column.property }} {{ column.classes|default([])|join(' ') }}">{{ attribute(row, column.property)|raw }}</td>
                    {% endfor %}
                    {% if datatable.actions|length > 0 %}
                        <td class="actions">
                        {% for action in datatable.actions %}
                            {% if action.authorization(row) %}
                                <a href="{{ action.url(row) }}" class="icon-{{ action.action }}" {{ helpers.attributes(action.attributes|default([])) }} title="{{ action.label }}"></a>
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}