{#

This file is used to build forms.

Data format for a form:

    form: {
        action: "",
        method: "post",
        attributes: {enctype: "multipart/form-data"},
        classes: [],
        active_classes: ["active"],
        sections: [
            {
                label: "Personal Information",
                classes: ["class1", "class2"],
                attributes: {
                    "placeholder": "My Placeholder",
                    "readonly": true, //Produces readonly="readonly"
                    "data-sort": "true", //Produces data-sort="true"
                },
                items: [
                    {
                       
                    },
                ]
            }, (...)
        ]
    }
#}
{% import "_helpers.twig" as helpers %}

{% macro form_section(section) %}
    {% import "_helpers.twig" as helpers %}
    {% import _self as self %}
    <fieldset class="{{ section.classes|default([])|join(' ') }}" {{ helpers.attributes(section.attributes|default([])) }}>
        <legend>{{ section.label }}</legend>
        {% for item in section.items %}
            {{ self.form_item(item) }}
        {% endfor %}
    </fieldset>
{% endmacro %}

{% macro form_error(error) %}
    {% import "_helpers.twig" as helpers %}
    {% import _self as self %}
    <span class="error">{{ error }}</span>
{% endmacro %}
{# TODO: make classes and attributes for labels and inputs #}
{% macro form_item(item) %}
    {% import "_helpers.twig" as helpers %}
    {% import _self as self %}
    <div class="row-{{ item.type }} {{ item.errors|length ? 'row-error' : '' }} {{ item.classes|default([])|join(' ') }}" {{ helpers.attributes(item.attributes|default([])) }}>
        {{ attribute(self, ("type_" ~ item.type), [item]) }}
        {% if item.errors|length %}
            {{ self.form_error(item.errors[0]) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro type_text(item) %}
    {% import "_helpers.twig" as helpers %}
    <label for="{{ item.id|default(item.name) }}">{{ item.label }}</label>
    <input type="text" value="{{ item.value|default(item.default) }}" name="{{ item.name }}" id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }} />
{% endmacro %}

{% macro type_image(item) %}
    {% import "_helpers.twig" as helpers %}
    <img id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }} />
{% endmacro %}

{% macro type_hidden(item) %}
    {% import "_helpers.twig" as helpers %}
    <input type="hidden" value="{{ item.value|default(item.default) }}" name="{{ item.name }}" id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }} />
{% endmacro %}

{% macro type_date(item) %}
    {% import "_helpers.twig" as helpers %}
    <label for="{{ item.id|default(item.name) }}">{{ item.label }}</label>
    <input type="text" value="{{ item.value.format("Y-m-d")|default(item.default) }}" name="{{ item.name }}" id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }} />
{% endmacro %}

{% macro type_textarea(item) %}
    {% import "_helpers.twig" as helpers %}
    <label for="{{ item.id|default(item.name) }}">{{ item.label }}</label>
    <textarea value="" name="{{ item.name }}" id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }}>
{{ item.value|default(item.default) }}
    </textarea>
{% endmacro %}

{% macro type_password(item) %}
    {% import "_helpers.twig" as helpers %}
    <label for="{{ item.id|default(item.name) }}">{{ item.label }}</label>
    <input type="password" value="{{ item.value|default(item.default) }}" name="{{ item.name }}" id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }} />
{% endmacro %}

{% macro type_file(item) %}
    {% import "_helpers.twig" as helpers %}
    <label for="{{ item.id|default(item.name) }}">{{ item.label }}</label>
    <input type="file" value="{{ item.value }}" name="{{ item.name }}" id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }} />
    <input type="hidden" name="{{ item.name }}" value="{{ item.value }}" />
    <button class="icon-cancel" data-remove-file="{{ item.name }}"></button>
    {% if item.edit_url %}
    {% if item.back_url %}
    <a class="button icon-edit" href="{{ item.edit_url~item.value~'?back_url='~item.back_url }}"></a>
    {% else %}
    <a class="button icon-edit" href="{{ item.edit_url~item.value }}"></a>
    {% endif %}
    {% endif %}
    {% if item.preview_image %}
        <img src="{{ item.preview_image~item.value }}" alt="" />
    {% endif %}
{% endmacro %}

{% macro type_files(item) %}
    {% import "_helpers.twig" as helpers %}
    <label for="{{ item.id|default(item.name) }}">{{ item.label }}</label>
    <input type="file" value="{{ file.clientOriginalName|default(file.filename) }}" name="{{ item.name }}[]" {{ helpers.attributes(item.input_attributes|default([])) }} />
    <input type="file" value="{{ file.clientOriginalName|default(file.filename) }}" name="{{ item.name }}[]" {{ helpers.attributes(item.input_attributes|default([])) }} />
{% endmacro %}

{% macro type_radio(item) %}
    {% import "_helpers.twig" as helpers %}
    <div class="label">{{ item.label }}</div>
    <ul class="choices">
        {% if (item.objects) %}
        {% for object in item.objects %}
        {% set value = attribute(object, item.value_property) %}
        {% set label = attribute(object, item.label_property) %}
        <li>
            <label>
                <input type="radio" name="{{ item.name }}" value="{{ value }}" {{ item.value|default(item.default) == value ? " checked" : "" }} /> <span class="choice-label">{{ label }}</span>
            </label>
        </li>
        {% endfor %}
        {% else %}
        {% for value, label in item.choices %}
        <li>
            <label>
                <input type="radio" name="{{ item.name }}" value="{{ value }}" {{ item.value|default(item.default) == value ? " checked" : "" }} /> <span class="choice-label">{{ label }}</span>
            </label>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
{% endmacro %}

{% macro type_select(item) %}
    {% import "_helpers.twig" as helpers %}
    <label for="{{ item.id|default(item.name) }}">{{ item.label }}</label>
    <select name="{{ item.name }}" id="{{ item.id|default(item.name) }}" {{ helpers.attributes(item.input_attributes|default([])) }}>
        {% if (item.none is defined) %}
            <option value="">{{ item.none }}</option>
        {% endif %}
        {% if (item.objects) %}
        {% for object in item.objects %}
        {% set value = attribute(object, item.value_property) %}
        {% set label = attribute(object, item.label_property) %}
            <option value="{{ value }}" {{ item.value|default(item.default) == value or value in item.value ? " selected" : "" }}>{{ label }}</option>
        {% endfor %}
        {% else %}
        {% for value, label in item.choices %}
            <option value="{{ value }}" {{ item.value|default(item.default) == value or value in item.value ? " selected" : "" }}>{{ label }}</option>
        {% endfor %}
        {% endif %}
    </select>
{% endmacro %}

{% macro type_submit(item) %}
    {% import "_helpers.twig" as helpers %}
    <button type="submit" name="{{ item.name }}" {{ helpers.attributes(item.input_attributes|default([])) }}>{{ item.label }}</button>
{% endmacro %}

{% macro type_link(item) %}
    {% import "_helpers.twig" as helpers %}
    <a href="{{ item.url }}" {{ helpers.attributes(item.input_attributes|default([])) }}>{{ item.label }}</a>
{% endmacro %}

{% macro type_note(item) %}
    {{ item.label }}
{% endmacro %}

{% macro type_title(item) %}
    <{{ item.tag|default('h2') }}>{{ item.label }}</{{ item.tag|default('h2') }}>
{% endmacro %}

{% macro type_view(item) %}
    {% include item.view with item.viewdata %}
{% endmacro %}

{% block form %}
    {% import "_helpers.twig" as helpers %}
    {% import _self as self %}
    <form action="{{ form.action }}" method="{{ form.method|default('post') }}" class="{{ form.classes|default([])|join(' ') }}" {{ helpers.attributes(form.attributes|default([])) }}>
        {% for section in form.sections %}
            {{ self.form_section(section) }}
        {% endfor %}
    </form>
{% endblock %}