{% extends "_template.twig" %}
{% import "_helpers.twig" as helpers %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_path~assets_path }}css/layouts/default.css">
{% endblock %}

{% block body %}
    {% block header %}
        <header id="header">
            <div class="top-bar">
                <div class="container">
                    {% include "includes/menu.twig" with {menu: top_menu} %}
					<div class="user-menu" tabindex="0">
						<span class="name">{{ user.name }}</span>
						<div class="sub-menu">
						<div class="welcome">
						<strong>{{ 'welcome'|trans }}</strong><br/>
						{{ ('roles_'~user.role)|trans }}
						</div>
						{% include "includes/menu.twig" with {menu: user_menu} %}
						<a class="logout" href="{{ logout_url }}">{{ 'menu_logout'|trans }} <span class='icon-logout'></span></a>
						</div>
					</div>
                </div>
            </div>
            <div class="main-bar">
                <div class="container">
					<h1>{{ site_name }}</h1>
					{% include "includes/menu.twig" with {menu: menu} %}
                </div>
            </div>
            <div class="sub-bar">
			</div>
        </header>
    {% endblock %}
    {% block main %}
        <section id="main">
            {% block content_header %}
                <div class="container">
                    {% include "includes/breadcrumb.twig" with {breadcrumb: breadcrumb} %}
                    <div class="title-block">
                        <h1 class="main-title">{{ page_title }}</h1>
                        {% if links|length %}
                        <div class="links">
                            {% for link in links %}
                                <a href="{{ link.url }}" class="{{ link.classes|default([])|join(' ') }}" {{ helpers.attributes(link.attributes|default([])) }}>{{ link.label }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
            <div class="container">   
            {% include 'includes/notifications.twig' %}
            </div>
            {% block content %}
                What you see here is the default content.
            {% endblock %}
        </section>
    {% endblock %}
    {% block footer %}
        <footer id="footer">
            <div class="container">
                © 2015 Pixel Circus - PixMS 2.0.0
            </div>
        </footer>
    {% endblock %}
{% endblock %}