{% extends "_template.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_path~assets_path }}css/layouts/limited.css">
{% endblock %}

{% block body %}
    <section id="main">
        <div  class="container">
            <img src="{{ base_path~assets_path }}images/pixel-circus-logo.jpg" class="logo" alt="Pixel Circus" />
            {% include 'includes/notifications.twig' %}
            {% block content %}
                What you see here is the default content.
            {% endblock %}
        </div>
    </section>
{% endblock %}