
{% block notifications %}
    {% for type, messages in notifications %}
        {% for message in messages %}
            <div class='notification {{ type }}'>{{ message|trans }}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}