
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus-circle:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-plus-circle:before { content: '\e805'; } /* '' */
.icon-move-vertical:before { content: '\e806'; } /* '' */
.icon-move-horizontal:before { content: '\e807'; } /* '' */
.icon-move:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-up:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-down:before { content: '\e80d'; } /* '' */
.icon-cancel-circle:before { content: '\e80e'; } /* '' */
.icon-refresh:before { content: '\e80f'; } /* '' */
.icon-info:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-warning:before { content: '\e812'; } /* '' */
.icon-notification:before { content: '\e813'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-deny:before { content: '\e815'; } /* '' */
.icon-ok-circle:before { content: '\e816'; } /* '' */
.icon-loading:before { content: '\e817'; } /* '' */
.icon-youtube:before { content: '\e81c'; } /* '' */
.icon-users:before { content: '\e81d'; } /* '' */
.icon-gauge:before { content: '\e81e'; } /* '' */
.icon-language:before { content: '\e81f'; } /* '' */
.icon-revert:before { content: '\e820'; } /* '' */
.icon-pictures:before { content: '\e821'; } /* '' */
.icon-keyboard:before { content: '\e822'; } /* '' */
.icon-comment:before { content: '\e823'; } /* '' */
.icon-switch:before { content: '\e824'; } /* '' */
.icon-globe:before { content: '\e825'; } /* '' */
.icon-thumbs-up:before { content: '\e826'; } /* '' */
.icon-thumbs-down:before { content: '\e827'; } /* '' */
.icon-flag:before { content: '\e828'; } /* '' */
.icon-download:before { content: '\e829'; } /* '' */
.icon-upload:before { content: '\e82a'; } /* '' */
.icon-lock:before { content: '\e82b'; } /* '' */
.icon-unlock:before { content: '\e82c'; } /* '' */
.icon-location:before { content: '\e82d'; } /* '' */
.icon-key:before { content: '\e82e'; } /* '' */
.icon-edit:before { content: '\e82f'; } /* '' */
.icon-ok:before { content: '\e830'; } /* '' */
.icon-cancel:before { content: '\e831'; } /* '' */
.icon-doc:before { content: '\e832'; } /* '' */
.icon-docs:before { content: '\e833'; } /* '' */
.icon-home:before { content: '\e834'; } /* '' */
.icon-credit-card:before { content: '\e835'; } /* '' */
.icon-map:before { content: '\e836'; } /* '' */
.icon-chart-pie:before { content: '\e837'; } /* '' */
.icon-crop:before { content: '\e838'; } /* '' */
.icon-sliders:before { content: '\e839'; } /* '' */
.icon-asterisk:before { content: '\e83a'; } /* '' */
.icon-export:before { content: '\e83b'; } /* '' */
.icon-user:before { content: '\e83c'; } /* '' */
.icon-menu:before { content: '\e83d'; } /* '' */
.icon-book:before { content: '\e83e'; } /* '' */
.icon-tools:before { content: '\e83f'; } /* '' */
.icon-logout:before { content: '\e840'; } /* '' */
.icon-powerful:before { content: '\e841'; } /* '' */
.icon-check:before { content: '\e842'; } /* '' */