{% extends "layouts/_template.html.twig" %}

{% block body %}
{% block header %}
{% endblock %}

{% block content %}
    My default content
{% endblock %}

{% block footer %}
    
{% endblock %}

{% endblock %}